<div class="product-details">
  <section>
    <h3>Beats Solo wireless Headphones</h3>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </section>
  <section>
    <del class ="small text-black-50">250 INR</del>
  </section>
  <div>
    <h5>Color</h5>
    <div class="product-colors active-{{@color}}">
      <span class="product-color color-red"
        {{on "click" (fn @changeColor "red")}}> </span>
      <span class="product-color color-black"
        {{on "click" (fn @changeColor "black")}}> </span>
    </div>
  </div>
</div>