<div class="product-details">
  <section>
    <h3>{{@name}}</h3>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </section>

  <section>
    <del class ="small text-black-50">250 INR</del>
  </section>
  <div>
    <h5>Color</h5>
    <div class="product-colors active-{{@color}}">
      {{#each @colors as |productColor|}}
        <span class="product-color color-{{productColor.color}}"
          {{on "click" (fn @changeColor productColor.color)}}> </span>
        {{/each}}

    </div>
  </div>
</div>