<div class="product-details">
  <section>
    <h3>Beats Solo wireless Headphones</h3>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </section>
  <section>
    <del class ="small text-black-50">250 INR</del>
  </section>
</div>