<GeneralContainer>
  <div class="product item-details-page">
    <Product::Image/>
    <Product::Details/>
  </div>

  <h5 class="mt-5">Features</h5>
  <ul>
    <li>Feature 1</li>
    <li>Feature 2</li>
    <li>Feature 3</li>
    <li>Feature 4</li>
  </ul>

</GeneralContainer>